body {
  overflow-x: hidden;
}

main {
  min-height: 0;
}

nav {
  transition: opacity ease 450ms;
  opacity: 0;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 100%;
  background: #000;
  margin: auto;
  margin: 0;
  margin-left: auto;
  transition: opacity ease 450ms;
  opacity: 0;
  border-radius: 10px;
  max-width: calc(1200px - 20px);
  margin: auto;
  margin-bottom: 100px;
}

.videoContainer.fillscreen {
  max-width: calc(100vw - 20px);
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
}

.videoNonBlockCover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.01);
}


#btnToggleEmojis:not(:checked)~.videoNonBlockCover {
  display: none;
}


.btnOpenEmojis {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border-radius: 0;
  padding: 10px;
  margin: 0;
  display: grid;
  place-content: center;
  cursor: pointer;
}

#btnToggleEmojis {
  visibility: hidden;
}

#btnToggleEmojis:not(:checked)~.emojis {

  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}

.emojis {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 1em;
  background: linear-gradient(-90deg, black, transparent);
  opacity: 1;
  transition: opacity ease 250ms, transform ease 250ms;
  transform-origin: top right;
}

.emojis::-webkit-scrollbar {
  width: 5px;
}

.emojis::-webkit-scrollbar-track {
  background: transparent;
}

.emojis::-webkit-scrollbar-thumb {
  background: #C32325;
}

.emojis::-webkit-scrollbar-thumb:hover {
  background: darkslateblue;
}

.emojis.disabled {
  pointer-events: none;
  filter: brightness(0.5);
}

.emojis img {
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

.emojis button {
  padding: 0;
  background: none;
  margin: 0;
  transition: transform ease 150ms;
}

.emojis button:active {
  transform: scale(0.86)
}

.videoCover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  text-transform: capitalize;
}

#poster {
  visibility: hidden;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  margin-top: 3em;
}

main {
  opacity: 0;
  transition: opacity ease 450ms;
}

modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

modal div, modal form {
  position: relative;
  background: #121416;
  padding: 1em 3em 3em;
  border-radius: 1em;
  width: 500px;
  max-width: calc(100% - 20px);
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

modal form {
  display: grid;
}

modal button {
  font-size: 1.5rem;
  display: block;
  display: grid;
  place-items: center;
  padding: 1em;
  border-radius: 12px;
  cursor: pointer;
  margin: auto;
  margin-top: 2em;
  text-transform: capitalize;
  border-radius: 56px 26px 56px 56px;
}

#dlgJoin h1 {
  overflow: hidden;
  text-overflow: ellipsis;
}

#btnChangeMovie {
  margin-left: auto;
  cursor: pointer;
  background: #181920;
  padding: 1em;
  display: inline-flex;
  gap: 1ch;
  text-transform: capitalize;
  justify-content: center;
  border-radius: 999px;
}

#btnFullscreen {
  opacity: 0;
}


button.flat {
  background: #181920;
  padding: 1em;
  display: inline-flex;
  gap: 1ch;
  text-transform: capitalize;
  margin-top: 10px;
}

#dlgChangeMovie {
  display: none;
  transition: opacity ease 450ms;
  opacity: 0;
}

.loading {
  height: 30px;
  width: 30px;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #2D88FF;
  animation: anLoading linear 1500ms infinite;
  float: right;
  visibility: hidden;
}

#floatingsContainer {
  opacity: 0;
}

progress {
  flex: 1;
}

.flexJustifyBetween {
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

@keyframes anLoading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes anBeating {
  0% {
    transform: scale(.86);

  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.86);

  }
}

@media only screen and (max-width: 600px) {
  .videoContainer {
    height: 50vh;
  }

  html {
    font-size: 12px;
  }

  #title {
    text-align: center;
  }

  .emojis {
    grid-template-columns: 1fr;
  }
}